@{
    ViewData["Title"] = "Home Page";
}

<style>

h1,p{
color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

p{
border-style:double;
    border-solid: 10px;
    border-radius: 10px;
    padding: 10px;
    border-color: white;
}


    body{
           background-image: url("https://cdn.discordapp.com/attachments/961792469677264947/1181322337153462382/photo-1572947650440-e8a97ef053b2.png?ex=6580a329&is=656e2e29&hm=13ca069358b6b599d7deec0d40ac6361f5faff58d894e39f535925d65f58cd16&");
            background-repeat: no-repeat;
            background-size: cover;
  }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Champlain's Art Gallery</p>
</div>